<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Twitter City - NOTRE PROJEEEEEEEEET</title>
</head>
<body>
<div th:if="${not #lists.isEmpty(listtweet)}">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4><b>Liste des tweets :</b></h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped" border="1">
                            <tr>
                                <th ><b>Name</b></th>
                                <th ><b>Message</b></th>
                                <th><b>Date</b></th>
                            </tr>
                            <tr th:each="tweet : ${listtweet}">
                                <td th:text="${tweet.getUser().getName()}">Name</td>
                                <td th:text="${tweet.getText()}">Message</td>
                                <td th:text="${tweet.getCreatedAt()}">Date</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
</div>
</body>
</html>